<%= stylesheet_link_tag 'devise' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 landing-left align-item-center">
      <%= image_tag 'deola_hub', class: "left-image" %>
    </div>
    <div class="col-md-6 landing-right text-align-center d-flex align-items-center">
        <div class="form-login box">
          <h2>Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :first_name, class: "sr-only" %><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First name", class: "form-control"%>
            </div>
             <div class="form-group">
              <%= f.label :last_name, class: "sr-only" %><br />
              <%= f.text_field :last_name, autofocus: true, placeholder: "Last name", autocomplete: "last_name", class: "form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :email, class: "sr-only" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control"%>
              <br />
            </div>

            <div class="form-group">
              <%= f.label :password, class: "sr-only" %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "sr-only" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control"%>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>
          <br>

          <p class="light-color">By signing up, you agree to our <br> <strong>Term &amp; Privacy Policy</strong> </p>

          <%= render "devise/shared/links" %>

        </div>

      </div>
  </div>
</div>





